<div class="col">
  <div class="person-card">
    <div class="person-img">
      <img src="{{ project.image | prepend: '/assets/img/' | relative_url }}" alt="{{ project.name }}">
    </div>

    <div class="person-info">
      <h4>{{ project.name }}</h4>
      <p>{{ project.position }}</p>
    </div>
  </div>
</div>